# не нужно копировать зависимости, они будут установлены внутри контейнера.
node_modules
# если контейнер собирает фронтенд, старые сборки не нужны
build
dist
# репозиторий не нужен в контейнере
.git
.gitignore
# сам файл Docker лучше не копировать внутрь
Dockerfile
# не влияет на работу приложения
README.md
# если есть, то для безопасности лучше не копировать внутрь контейнера
.env
# системные файлы macOS, не нужны в контейнере
.DS_Store
# зачем логи в образе ?
npm-debug.log
yarn-debug.log
yarn-error.log
*.log